.Page {
    text-align: center;
}

.Page-header {
    background-color: #282c34;
    min-height: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.Page-content {
    background-color: #99a1b1;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 1vmin);
}